<ion-content>
  <!-- Site wrapper -->
  <div class="wrapper">
    <app-header></app-header>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>View Job</h1>
            </div>
          </div>
        </div>
      </section>

      <!-- Main content -->
      <section class="content">
        <!-- Default box -->

        <div class="row ">
          <div class="col-12">
            <div class="card bg-light">
              <!-- <div class="card-header text-muted border-bottom-0">
                      Smoke Detectors
                    </div> -->
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-12">
                    <h2 class="lead">
                      <b>{{ job?.issuseTitle }}</b>
                    </h2>
                    <!-- <p class="text-muted text-sm">
                      <b>Description: </b> Need to work on this job.
                    </p> -->
                    <ul class="ml-0 mb-0 fa-ul text-muted">
                      <li class="small">
                        <b>Description : </b> {{ job?.issuseTitle }}
                      </li>
                      <li class="small"><b>Job ID : </b> {{ job?.jobNo }}</li>
                      <li class="small">
                        <b>Client name : </b> {{ job?.clientName }}
                      </li>
                      <li class="small">
                        <b>Contract no. : </b> {{ job?.contractId }}
                      </li>
                      <li class="small">
                        <b>Job Date : </b>
                        {{ job?.apFromTs | date: "dd/MM/yyyy" }}
                      </li>
                      <li class="small">
                        <b>Job Location : </b>
                        {{ job?.postCode ? ", " + job?.postCode : "" }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- <div class="card-footer">
                <div class="text-right">
                  <a
                    [routerLink]="['/job-view']"
                    routerLinkActive="router-link-active"
                    class="btn btn-info btn-info  btn-flat"
                  >
                    <i class="far fa-eye"></i> View Job
                  </a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
      <!-- <div class="float-right d-none d-sm-block">
          <b>Version</b> 3.0.0-beta.2
        </div>
        <strong
          >Copyright &copy; 2014-2019
          <a href="http://adminlte.io">AdminLTE.io</a>.</strong
        >
        All rights reserved. -->

      <a
        style="color: white;"
        class="btn btn-info btn-info btn-flat btn-block"
        (click)="timeIn()"
        
      >
        Time In
      </a>
    </footer>
  </div>
  <!-- ./wrapper -->
</ion-content>
