.service-header {
  //   background-color: green;
  position: sticky !important;
  top: 67px !important;
  padding: 5px 15px 0px 15px !important;
  margin-bottom: 20px;
  z-index: 900;
  font-size: 0.9rem !important;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.n-b-m {
  margin-bottom: 0px;
}

.header-drop-down {
  height: calc(1.5rem + 2px);
  display: inline;
  padding: 0px;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
