<ion-content>
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->

    <app-header></app-header>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>My Jobs</h1>
            </div>
            <!-- <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Contacts</li>
              </ol>
            </div> -->
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <!-- Default box -->

        <div class="row" *ngFor="let job of jobs">
          <div class="col-12">
            <div class="card bg-light">
              <!-- <div class="card-header text-muted border-bottom-0">
                    Smoke Detectors
                  </div> -->
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-12">
                    <h2 class="lead">
                      <b>{{ job?.issuseTitle }}</b>
                    </h2>
                    <p class="text-muted text-sm">
                      <b>Description: </b> {{ job?.issuseDesc }}
                    </p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                      <li class="small">
                        <span class="fa-li"
                          ><i class="far fa-calendar-alt"></i
                        ></span>
                        Date: {{ job?.apFromTs | date: "dd/MM/yyyy" }}
                      </li>
                      <li class="small">
                        <span class="fa-li"
                          ><i class="far fa-building"></i
                        ></span>
                        Address: {{ job.location
                        }}{{ job?.postCode ? ", " + job?.postCode : "" }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="text-right">
                  <a
                    [routerLink]="['/', urlServ.VIEW_JOB]"
                    [queryParams]="{ jobId: job.id }"
                    routerLinkActive="router-link-active"
                    class="btn btn-info btn-info  btn-flat"
                  >
                    <i class="far fa-eye"></i> View Job
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.0.0-beta.2
      </div>
      <strong
        >Copyright &copy; 2014-2019
        <a href="http://adminlte.io">AdminLTE.io</a>.</strong
      >
      All rights reserved. 
      
      
    </footer> -->
  </div>
  <!-- ./wrapper -->
</ion-content>
