<ion-content>
  <div class="login-box">
    <div class="login-logo">
      <a><b>Oix Service</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign In</p>

        <form [formGroup]="loginForm">
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control form-control-lg"
              placeholder="Email"
              formControlName="email"
            />
            <div class="input-group-append input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
            
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control form-control-lg"
              placeholder="Password"
              formControlName="password"
            />
            <div class="input-group-append input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" />
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">
                Sign In
              </button>
            </div>
          </div> -->
        </form>

        <div class="social-auth-links text-center mb-3">
          <button
            [disabled]="!loginForm.valid || loginApiLoader"
            (click)="loginBtnClick()"
            type="button"
            class="btn btn-block btn-flat btn-info btn-lg"
          >
            <i class="fas fa-id-badge mr-2"></i> Sign In
            <i *ngIf="loginApiLoader" class="fa fa-refresh fa-spin"></i>
          </button>
          <button
            [disabled]="!loginForm.valid || loginApiLoader"
            [routerLink]="['/', urlServ.FORGOT_PASSWORD]"
            routerLinkActive="router-link-active"
            type="button"
            class="btn btn-block btn-flat btn-light btn-lg"
          >
            <i class="fas fa-key mr-2"></i> I forgot my password
          </button>
        </div>
        <!-- /.social-auth-links -->

        <!-- <p class="mb-1">
          <a href="#">I forgot my password</a>
        </p>
        <p class="mb-0">
          <a href="register.html" class="text-center"
            >Register a new membership</a
          >
        </p> -->
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
</ion-content>
