<ion-content>
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    <app-header></app-header>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->

      <app-service-header></app-service-header>

      <!-- <section class="content-header service-header">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>
                Client/Owner :
              </label>
              12345657
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>
                Date :
              </label>
              12345657
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <select class="form-control manage-drop">
                <option>Attendance Type</option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
                <option>option 5</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <select class="form-control">
                <option>Check In Type</option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
                <option>option 5</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6"></div>
          <div class="col-6">
            <div class="form-group">
              <select class="form-control">
                <option>Service Type</option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
                <option>option 5</option>
              </select>
            </div>
          </div>
        </div>
      </section> -->

      <!-- Main content -->
      <section class="content">
        <!-- Default box -->

        <div class="row d-flex align-items-stretch">
          <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
            <div class="card bg-light">
              <!-- <div class="card-header text-muted border-bottom-0">
                      Smoke Detectors
                    </div> -->
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-12">
                    <h2 class="lead"><b>Smoke Detectors</b></h2>
                    <!-- <p class="text-muted text-sm">
                      <b>Description: </b> Need to work on this job.
                    </p> -->
                    <ul class="ml-0 mb-0 fa-ul text-muted">
                      <li class="small">
                        <b>Description:</b> Need to work on this job.
                      </li>
                      <li class="small"><b>Job ID:</b> SD-01245</li>
                      <li class="small"><b>Client name:</b> James Aurther</li>
                      <li class="small"><b>Job Date:</b> 05-03-2019</li>
                      <li class="small">
                        <b>Job Location:</b> MAP (FCC) & RP-1 (OCC) & RP-2 (GH)
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row d-flex align-items-stretch">
          <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
            <div class="card bg-light">
              <!-- <div class="card-header text-muted border-bottom-0">
                      Smoke Detectors
                    </div> -->
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-12">
                    <h2 class="lead"><b>Smoke Detectors</b></h2>
                    <!-- <p class="text-muted text-sm">
                      <b>Description: </b> Need to work on this job.
                    </p> -->
                    <ul class="ml-0 mb-0 fa-ul text-muted">
                      <li class="small">
                        <b>Description:</b> Need to work on this job.
                      </li>
                      <li class="small"><b>Job ID:</b> SD-01245</li>
                      <li class="small"><b>Client name:</b> James Aurther</li>
                      <li class="small"><b>Job Date:</b> 05-03-2019</li>
                      <li class="small">
                        <b>Job Location:</b> MAP (FCC) & RP-1 (OCC) & RP-2 (GH)
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row d-flex align-items-stretch">
          <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
            <div class="card bg-light">
              <!-- <div class="card-header text-muted border-bottom-0">
                      Smoke Detectors
                    </div> -->
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-12">
                    <h2 class="lead"><b>Smoke Detectors</b></h2>
                    <!-- <p class="text-muted text-sm">
                      <b>Description: </b> Need to work on this job.
                    </p> -->
                    <ul class="ml-0 mb-0 fa-ul text-muted">
                      <li class="small">
                        <b>Description:</b> Need to work on this job.
                      </li>
                      <li class="small"><b>Job ID:</b> SD-01245</li>
                      <li class="small"><b>Client name:</b> James Aurther</li>
                      <li class="small"><b>Job Date:</b> 05-03-2019</li>
                      <li class="small">
                        <b>Job Location:</b> MAP (FCC) & RP-1 (OCC) & RP-2 (GH)
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row d-flex align-items-stretch">
          <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
            <div class="card bg-light">
              <!-- <div class="card-header text-muted border-bottom-0">
                      Smoke Detectors
                    </div> -->
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-12">
                    <h2 class="lead"><b>Smoke Detectors</b></h2>
                    <!-- <p class="text-muted text-sm">
                      <b>Description: </b> Need to work on this job.
                    </p> -->
                    <ul class="ml-0 mb-0 fa-ul text-muted">
                      <li class="small">
                        <b>Description:</b> Need to work on this job.
                      </li>
                      <li class="small"><b>Job ID:</b> SD-01245</li>
                      <li class="small"><b>Client name:</b> James Aurther</li>
                      <li class="small"><b>Job Date:</b> 05-03-2019</li>
                      <li class="small">
                        <b>Job Location:</b> MAP (FCC) & RP-1 (OCC) & RP-2 (GH)
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row d-flex align-items-stretch">
          <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
            <div class="card bg-light">
              <!-- <div class="card-header text-muted border-bottom-0">
                      Smoke Detectors
                    </div> -->
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-12">
                    <h2 class="lead"><b>Smoke Detectors</b></h2>
                    <!-- <p class="text-muted text-sm">
                      <b>Description: </b> Need to work on this job.
                    </p> -->
                    <ul class="ml-0 mb-0 fa-ul text-muted">
                      <li class="small">
                        <b>Description:</b> Need to work on this job.
                      </li>
                      <li class="small"><b>Job ID:</b> SD-01245</li>
                      <li class="small"><b>Client name:</b> James Aurther</li>
                      <li class="small"><b>Job Date:</b> 05-03-2019</li>
                      <li class="small">
                        <b>Job Location:</b> MAP (FCC) & RP-1 (OCC) & RP-2 (GH)
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row d-flex align-items-stretch">
          <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
            <div class="card bg-light">
              <!-- <div class="card-header text-muted border-bottom-0">
                      Smoke Detectors
                    </div> -->
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-12">
                    <h2 class="lead"><b>Smoke Detectors</b></h2>
                    <!-- <p class="text-muted text-sm">
                      <b>Description: </b> Need to work on this job.
                    </p> -->
                    <ul class="ml-0 mb-0 fa-ul text-muted">
                      <li class="small">
                        <b>Description:</b> Need to work on this job.
                      </li>
                      <li class="small"><b>Job ID:</b> SD-01245</li>
                      <li class="small"><b>Client name:</b> James Aurther</li>
                      <li class="small"><b>Job Date:</b> 05-03-2019</li>
                      <li class="small">
                        <b>Job Location:</b> MAP (FCC) & RP-1 (OCC) & RP-2 (GH)
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
      <div class="row">
        <div class="col-6">
          <a
            style="color: white;"
            routerLinkActive="router-link-active"
            class="btn btn-info btn-info btn-flat btn-block"
            [routerLink]="['/save-job']"
          >
            <i class="far fa-eye"></i> Time Out
          </a>
        </div>
        <div class="col-6">
          <a
            style="color: white;"
            routerLinkActive="router-link-active"
            class="btn btn-info btn-info btn-flat btn-block"
          >
            <i class="far fa-eye"></i> Break
          </a>
        </div>
      </div>
    </footer>
  </div>
  <!-- ./wrapper -->
</ion-content>
